<div class="navMain">
  <a href="/"><h1 class="logo">welcome to blogsite</h1></a>
  <div class="line"></div>
  <div class="navRight">
    <a href="/login"><button class="navKnopke">login</button></a>
    <a href="/register"><button class="navKnopke">register</button></a>
  </div>
</div>
